---
AlignConsecutiveDeclarations: Consecutive
Language: Cpp
BasedOnStyle: WebKit
UseTab: Never
SpaceAfterTemplateKeyword: false
AlignEscapedNewlines: Left
AlignTrailingComments: true
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: None
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
NamespaceIndentation: None
QualifierAlignment: Right
PointerAlignment: Right
SpaceAfterCStyleCast: true
